h1 {
  color: #000;
  text-align: center;
  font-size: 36px;
  background-color: #ffffff;
}

li {
  text-decoration: none;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
html{
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #908989;
  display: flex;
  flex-direction: column;
}
.main-header{
  flex: 0 1 auto;
}
.main-content{
  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
}
.thumbnail-list{
  background-color: #fff;
  white-space: nowrap;
  overflow-x: auto;
  flex: 0 1 auto;
  order: 2;
}
.detail-image-container{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
.thumbnail-image{
  width: 100%;
}
.thumbnail-item{
  display: inline-block;
  width: 120px;
  border: 1px solid rgb(100%, 100%, 100%, 0.8);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 4px 10px;
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
}
.detail-image{
  width: 80%;
 
}
